* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

figure img {
  width: 100%;
  display: block;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* DEBUG */

/* .debug .app {
  border: 1px solid orange;
  padding: 10px;
  color: white;
}

.debug .player-bar {
  border: 1px solid greenyellow;
  padding: 10px;
  min-height: 90px;
}
.debug .main-page {
  border: 1px solid cornflowerblue;
  padding: 10px;
}
*/
.debug .viewport {
  border: 1px solid cornflowerblue;
  padding: 10px;
}

/* .debug .main-view {
  border: 1px solid orange;
  padding: 10px;
} */

/* .debug .sidebar {
  border: 1px solid greenyellow;
  padding: 10px;
} */
.debug .top-bar {
  border: 1px solid greenyellow;
  padding: 10px;
}
.debug .nav {
  border: 1px solid greenyellow;
  padding: 10px;
}

/* .debug .player-bar__container {
  border: 1px solid red;
  padding: 10px;
}
.debug .player-bar__side {
  border: 1px solid red;
  padding: 10px;
} */
/* .debug .sidebar__container {
  border: 1px solid red;
  padding: 10px;
} */

/* COLOR PALETTE */

:root {
  --background-page: #141923;
  --top-bar: #080b13;
  --side-bar: #000000;
  --player-bar: #282828;
  --grey-text: #282828;
  --time-bar-dark: #5a5a5a;
  --time-bar-light: #c1c1c1;
  --sidebar-text-grey: #a3a3a3;
  --highlight: #adff30;
  --white: #ffffff;
  --black: #000000;
  --sidebar-width: 230px;
}

/* UTILITY CLASS */

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}
/* MAIN CLASS */

.app {
  background-color: var(--background-page);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-app {
  display: flex;
  height: calc(100% - 90px);
}

.viewport {
  flex-grow: 1;
  overflow-y: scroll;
}

.sidebar {
  width: 50px;
  background-color: var(--side-bar);
  overflow: hidden;
}

.player-bar {
  background-color: var(--player-bar);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* SIDEBAR */

.sidebar {
  z-index: 1;
  position: relative;
  flex-shrink: 0;
}

.sidebar__container {
  padding: 10px;
  color: var(--white);
}

.sidebar__container.user {
  margin-top: auto;
}

/* LOGO */

.sidebar__container.logo-small {
  display: block;
}

.sidebar__container.logo {
  display: none;
  width: 160px;
}

/* HOME */
.sidebar__container.home {
  gap: 10px;
}
.home-icon {
  width: 28px;
  margin-right: 10px;
}

span {
  display: none;
}

.search,
.library {
  color: var(--sidebar-text-grey);
}

.home::after {
  position: absolute;
  content: ' ';
  display: block;
  background-color: var(--highlight);
  width: 30px;
  height: 4px;
  top: 96px;
  left: -13px;
  transform: rotate(90deg);
}

/* PLAYLIST */

.sidebar__container.playlist {
  color: var(--sidebar-text-grey);
  gap: 25px;
  margin-top: 10px;
  display: none;
}

.playlist-title {
  color: var(--white);
  margin-bottom: -15px;
}

.sidebar__container.playlist i {
  background-color: var(--sidebar-text-grey);
  color: var(--black);
  padding: 11px;
  font-size: 22px;
}

/* USER */
.sidebar__container.user {
  color: var(--sidebar-text-grey);
  gap: 8px;
  padding: 10px 10px;
}

.app-install {
  font-size: 13px;
  gap: 5px;
}
.app-install i {
  margin-right: 7px;
}

.app-install::after {
  content: ' ';
  display: inline-block;
  background-color: var(--sidebar-text-grey);
  height: 1px;
  width: 100%;
}

.user {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
}

.user-avatar {
  width: 25px;
  height: 25px;
  color: white;
  background-color: #808080;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar__container.user span {
  display: none;
}
.home:hover,
.search:hover,
.library:hover,
.new-playlist:hover,
.playlist-item:hover,
.app-install:hover {
  color: var(--white);
  cursor: pointer;
}

/* VIEWPORT */

/* TOP-BAR */

.top-bar {
  justify-content: end;

  background-color: rgba(0, 0, 0, 0.9);
  height: 90px;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
}

.upgrade {
  color: var(--white);
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 999px;
  line-height: 45px;
  padding: 0 35px;
}

.upgrade:hover {
  transform: scale(110%);
  cursor: pointer;
}

/* MAIN CONTENT */

/* NAVBAR */

.viewport .nav {
  color: var(--sidebar-text-grey);
  margin-top: 107px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.viewport .nav-item:hover {
  color: var(--white);
  cursor: pointer;
}

.nav-item {
  position: relative;
}

.selected::after {
  position: absolute;
  content: ' ';
  display: block;
  background-color: var(--highlight);
  width: 30px;
  height: 2px;
  left: 30px;
  bottom: -4px;
}
.nav-menu {
  gap: 20px;
}

/* MUSIC */
.col {
  position: relative;
  flex-wrap: wrap;
}

.album {
  width: calc(100% / 2);
  text-align: center;
  padding: 15px;
}

.row {
  margin: 44px 30px;
}

.title {
  color: var(--white);
  padding-bottom: 20px;
}

.album-title {
  color: var(--white);
  padding: 10px 0;
}

.album-subtitle {
  color: var(--sidebar-text-grey);
  font-size: 13px;
}

.album:hover img {
  filter: opacity(50%);
  transition: 0.5s;
}

.album-cover {
  position: relative;
  aspect-ratio: 1;
}

.album-cover:hover:after {
  position: absolute;
  content: '\f144';
  display: block;
  color: var(--white);
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  font-size: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rounded-image {
  border-radius: 50%;
}
/* PLAYER BAR */

.player-bar__container {
  flex-direction: column;
  width: 50%;
}

.player-bar__right,
.player-bar__left {
  width: var(--sidebar-width);
}

.bar-buttons li:hover,
.right-buttons li:hover {
  transform: scale(140%);
  cursor: pointer;
}

.bar-buttons {
  gap: 20px;
  padding-bottom: 10px;
}

.player-bar {
  color: var(--white);
}

.play-icon {
  border: 2px solid white;
  padding: 4px 10px;
  border-radius: 100%;
  margin: 0 10px;
}

.right-buttons {
  gap: 15px;
  padding-right: 10px;
}

.player-bar__slider {
  width: 100%;
  font-size: 10px;
}
.slider-bar {
  background-color: var(--time-bar-dark);
  border-radius: 999px;
  width: 100%;
  margin: 0 10px;
  flex-grow: 1;
}

.slider-progress {
  position: relative;
  background-color: var(--white);
  border-radius: 999px;
  height: 5px;
  width: 25%;
}

.slider-handle {
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  height: 15px;
  aspect-ratio: 1;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: none;
}

.slider-bar-container {
  width: 100%;
  padding-right: 15px;
}

.slider-bar:hover .slider-progress {
  background-color: var(--highlight);
}
.slider-bar:hover .slider-handle {
  display: block;
}

/* LEFT PLAYER BAR CONTAINER */

.left-buttons {
  gap: 15px;
  padding-left: 10px;
}

.song-playng-img {
  height: 45px;
}
.song-info {
  flex-direction: column;
  color: white;
}

.song-title {
  color: var(--time-bar-dark);
}

.left-buttons .song-title:hover,
.left-buttons .song-icons i:hover {
  color: var(--white);
  cursor: pointer;
}

.song-icons {
  color: var(--time-bar-dark);
  gap: 10px;
}

/* RESPONSIVE */

/* Small devices  */
@media (min-width: 576px) {
}

/* Medium devices  */
@media (min-width: 768px) {
  /* SIDEBAR */
  .sidebar {
    width: var(--sidebar-width);
  }
  .logo-small {
    display: none;
  }

  .sidebar__container.logo {
    display: block;
    padding-top: 20px;
  }
  .sidebar__container.logo-small {
    display: none;
  }

  .sidebar__container {
    padding-left: 20px;
  }

  .sidebar__container.home {
    align-items: flex-start;
  }

  span {
    display: inline-block;
  }

  .sidebar__container.playlist {
    display: flex;
  }

  .sidebar__container.user {
    padding: 10px 20px;
  }

  .sidebar__container.user span {
    display: inline-block;
  }
  .app-install {
    display: block;
    gap: 0;
  }
  /* MUSIC */

  .album {
    width: calc(100% / 4);
  }
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
  .album {
    width: calc(100% / 6);
  }
}
